{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <select name="symbol">
            <option selected="true" disabled="disbaled">Symbol</option>
            {% for stock in stocks: %}
            <option value="{{stock["symbol"]}}">{{stock["symbol"]}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="number" name="shares" placeholder="Shares">
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}